* {
    padding: 0;
    margin: 0;
    font-size: 10px;
  
  }
  header {
    background-color: #151B2B;
    
    color: #FFFFFF;
  }
  .logo{
    position: absolute;
    width: 160px;
    height: 5rem;
    top: 4rem;
}
  
  header {

  .haut {
    max-width:1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
align-items:center ;
            }
            .push{
                border-radius: 3px;
                display: inline-block;
                white-space: nowrap;
                padding: 0.9rem 1.6rem;
                color: white;
                white-space: nowrap;
            
                span{
                    margin-left: 0.7rem;
                ;
                    font-size: 1.4rem;
  }          
  }
  }
  .schema {
    text-align: end;
  }
  .left {
    display: flex;
  }